body {margin: 0; padding: 0;}

.map {
    position: relative;
    text-align: center;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.part {
    opacity: 0.1;
}

.part:hover {
    transition: opacity .2s ease;
    opacity: 0.3;
    cursor: pointer;
}


.description {
    display: none;
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
    width: 260px;
    height: 90px;
    box-shadow: 0 0 32px 10px #ccc;
    left: 80px;
    top: 100px;
    font-family: sans-serif;
}

img {
    width: 40%;
    height: 40%;
}